<!DOCTYPE html>
<html>
  <head>
    <title>Melt</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  </head>
  <body>
    <div class="navbar">
      <h1>Melt</h1>
    </div>
    <div class="container">
      Coming soon
    </div>

    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="3f687283-fcbd-45b6-bb6b-d1d4a4d1da5d";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

    <style>

    </style>
  </body>
</html>
