/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "DidactGothic";
  src: url("//monarchjhaveri.github.io/meltwebsite/fonts/DidactGothic-Regular.ttf") format("opentype"); }
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: DidactGothic, sans-serif !important; }

.content-wrapper {
  margin-top: 80px; }

.navbar {
  display: table;
  height: 80px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  top: 0;
  background-color: white; }
  .navbar .melt-logo {
    display: table-cell;
    width: 200px;
    vertical-align: middle; }
    .navbar .melt-logo img {
      vertical-align: middle;
      height: 50px; }
  .navbar .links-wrapper {
    display: table-cell;
    vertical-align: middle; }
    .navbar .links-wrapper .links {
      float: right; }
      .navbar .links-wrapper .links a {
        padding: 0 10px;
        color: black;
        text-decoration: none;
        font-size: 25px;
        line-height: 25px;
        font-weight: 600;
        font-size: 22px; }

.main-wrapper {
  width: 100%; }

.section, .wide-section {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px; }

.wide-section {
  max-width: 100%; }

.hero {
  background-image: url("//monarchjhaveri.github.io/meltwebsite/images/hero.png");
  background-size: cover;
  width: 100%;
  height: 400px;
  display: table; }
  .hero .hero-message-wrapper {
    display: table-cell;
    vertical-align: middle; }
    .hero .hero-message-wrapper .hero-message {
      text-align: center;
      margin: auto;
      max-width: 935px;
      font-size: 56px;
      color: white; }

.section.section-header {
  font-size: 35px;
  text-align: center;
  width: 100%;
  padding: 80px 0;
  margin-bottom: 0; }

.section.about-main .about-main-content {
  display: table;
  width: 100%; }
  .section.about-main .about-main-content .about-main-content-section {
    display: table-cell;
    vertical-align: top;
    width: 33%;
    line-height: 30px; }
    .section.about-main .about-main-content .about-main-content-section p {
      margin-bottom: 30px;
      font-size: 20px;
      padding: 0 20px; }
    .section.about-main .about-main-content .about-main-content-section:nth-child(3) p {
      padding: 0 30px; }
    .section.about-main .about-main-content .about-main-content-section.melt-icon-pink-container {
      vertical-align: middle;
      text-align: center; }
      .section.about-main .about-main-content .about-main-content-section.melt-icon-pink-container .melt-icon-pink {
        max-height: 100%;
        max-width: 265px;
        padding-bottom: 50px; }

.footer {
  padding: 100px 0 50px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px; }
  .footer .contact-info {
    display: table-cell; }
    .footer .contact-info table {
      text-align: left; }
      .footer .contact-info table tr, .footer .contact-info table th {
        padding: 10px; }
      .footer .contact-info table th {
        font-weight: 600; }
  .footer .social-links {
    display: table-cell;
    text-align: right;
    vertical-align: bottom; }
    .footer .social-links .social-link {
      height: 40px;
      width: 40px;
      display: inline-block; }
  .footer .copyright {
    float: right; }
  .footer .footer-row {
    display: table;
    width: 100%;
    margin-bottom: 30px; }

.about-text-wrapper .about-text {
  text-align: center;
  max-width: 890px;
  margin: auto;
  font-size: 25px;
  line-height: 50px; }

a {
  color: #ff33cc; }

.capability-row {
  width: 100%;
  margin-bottom: 60px;
  display: inline-block; }

.u-float-left {
  float: left; }

.u-float-right {
  float: right; }

.capability-img img {
  display: block;
  width: auto;
  height: auto;
  max-height: 75px;
  max-width: 80px; }

.capability-title {
  font-size: 30px;
  margin: 35px 0; }

.capability-description {
  max-width: 360px;
  font-size: 20px; }

.button {
  display: inline-block;
  padding: 0px 20px;
  color: #ff33cc;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #ff33cc; }
