<div class="footer">
  <div class="contact-info">
    <table>
      <tr>
        <th>Address:</th>
        <td>
          1 Adelaide St. E.
          30th Fl
        </td>
      </tr>
      <tr>
        <th>Phone:</th>
        <td>+1 844 909 0080</td>
      </tr>
      <tr>
        <th>Email:</th>
        <td>
          <a href="mailto:info@melt.ai">info@melt.ai</a>
        </td>
      </tr>
    </table>
  </div>
  <div class="social-links">
    
  </div>
  <div class="copyright">
    © Melt Labs. All Rights Reserved.
  </div>
</div>