<div class="hero wide-section">
  <div class="hero-message-wrapper">
    <p class="hero-message">
      Helping the daring invent and launch
      frontier technology that will make the
      world a radically better place. 
    </p>
  </div>
</div>