<nav class="navbar">
  <a href="/" class="melt-logo">
    <img src="images/melt-logo-sm.png" >
  </a>

  <div class="links-wrapper">
    <div class="links">
      <a href="/about" class="link">About</a>
      <a href="/projects" class="link">Projects</a>
      <a href="/blog" class="link">Blog</a>
      <a href="/contact" class="link">Contact</a>
    </div>
  </div>
</nav>