<div class="hero wide-section" id="top">
  <div class="hero-message-wrapper">
    <p class="hero-message">
      Helping the daring invent and launch
      frontier technology that will make the
      world a radically better place. 
    </p>
  </div>
</div>

<div class="section sub-hero">
  Driven by Artificial Intelligence and Human Ideals
</div>

<div class="section about-main">
  <div class="about-main-content">
    <div class="about-main-content-section">
      <p>
        Melt is a hardcore technology
        laboratory for creating,
        developing, and launching
        innovative ideas into astounding
        products and companies
      </p>
      <p>
        We believe in the power of ethical
        AI to increase human potential
        and invention. The company is
        driven by the core ethics of
        transparency, empathy and trust.
      </p>
    </div>
    <div class="about-main-content-section melt-pink-icon">
    </div>
    <div class="about-main-content-section">
      <p>
        We start with the goal of
        challenging large problem
        areas, then prototyping and
        validating smart, scaleable
        solutions. 
      </p>
      <p>
        Founded in 2018, our mission is
        to leverage intelligent ability to
        build the best possible future,
        and empower the greatest
        number of people.
      </p>
    </div>
  </div>
</div>
