---
title: Melt | Home
---

<div class="hero wide-section">
  <div class="hero-message-wrapper">
    <p class="hero-message">
      Helping the daring invent and launch
      frontier technology that will make the
      world a radically better place. 
    </p>
  </div>
</div>

<div class="section section-header">
  Driven by Artificial Intelligence and Human Ideals
</div>

<div class="section about-main">
  <div class="about-main-content">
    <div class="about-main-content-section">
      <p>
        Melt is a hardcore technology
        laboratory for creating,
        developing, and launching
        innovative ideas into astounding
        products and companies
      </p>
      <p>
        We believe in the power of ethical
        AI to increase human potential
        and invention. The company is
        driven by the core ethics of
        transparency, empathy and trust.
      </p>
    </div>
    <div class="about-main-content-section melt-icon-pink-container">
      <img src="images/melt-icon-pink.png" alt="" class="melt-icon-pink">
    </div>
    <div class="about-main-content-section">
      <p>
        We start with the goal of
        challenging large problem
        areas, then prototyping and
        validating smart, scaleable
        solutions. 
      </p>
      <p>
        Founded in 2018, our mission is
        to leverage intelligent ability to
        build the best possible future,
        and empower the greatest
        number of people.
      </p>
    </div>
  </div>
</div>



<div class="section section-header" id="services">
  Core Capabilities
</div>

<div class="section">
  <div class="capability-row">
    <div class="capability-column u-float-left">
      <div class="capability-img">
        <%= image_tag "images/ai.png" %>
      </div>
      <div class="capability-title">
        Artificial Intelligence
      </div>
      <div class="capability-description">
        Helping organizations across the globe to
        build, test, and deploy deep learning, data
        science and advanced analytics models.
      </div>
    </div>
    <div class="capability-column u-float-right">
      <div class="capability-img">
        <%= image_tag "images/rocket.png" %>
      </div>
      <div class="capability-title">
        Skunk Works
      </div>
      <div class="capability-description">
        From zero to launch, our lab supports
        entrepreneurs and developers around the
        world to invent and radically innovate IP.
      </div>
    </div>
  </div>
  <div class="capability-row">
    <div class="capability-column u-float-left">
      <div class="capability-img">
        <%= image_tag "images/joypad.png" %>
      </div>
      <div class="capability-title">
        Product Development
      </div>
      <div class="capability-description">
        Building elite-class software and hardware
        products for startups to enterprise spanning
        AV/VR, IoT, blockchain, wetware and beyond.
      </div>
    </div>
    <div class="capability-column u-float-right">
      <div class="capability-img">
        <%= image_tag "images/cloud.png" %>
      </div>
      <div class="capability-title">
        Cloud Computing
      </div>
      <div class="capability-description">
        Deeply strategic deployments involving
        extremely secure, performant and scaleable
        cloud ops and cloud architected solutions.
      </div>
    </div>
  </div>
</div>



<div class="section section-header" id="about">
  Build The Future
</div>
<div class="section">
  <div class="about-text-wrapper">
    <div class="about-text">
      Melt is a team of makers, engineers, and scientists with deep technical expertise
      who’ve come together to take invention out of the lab and into the real world. Based
      in Toronto Canada, Melt was founded to give visionary ideas a place to reach their potential. We love the 
      challenge of the seemingly impossible that, if successful, would profoundly impact 
      people’s lives.
    </div>

    <br/><br/>

    <div class="about-text">
      "The best way to predict the future is to invent it."
      <br/>
      - Alan Kay, PARC
    </div>
  </div>
</div>



<div class="section section-header" id="careers">
  Join The Team
</div>
<div class="section">
  <div class="about-text-wrapper">
    <div class="about-text">
      If you're ready to solve the problems alongside some of the best engineers and data scientists in the world, we want to hear from you.

      <br/><br/>

      <div class="button">
        Join
      </div>
    </div>
  </div>
</div>

<div class="section section-header" id="careers">
  Contact Us
</div>
<div class="section" id="contact">
  <div class="about-text-wrapper">
    <div class="about-text">
      We're always looking to collaborate with talented visionaries and entrepreneurs who are passionate about developing ideas and companies that will define the future.
      
      <br/><br/>

      <div class="button">
        Share your story
      </div>
    </div>
  </div>
</div>
